@font-face {
    font-family: Header;
    src: url(Fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf);
}

@font-face {
    font-family: Paragraph;
    src: url(Fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf);
}

::-webkit-scrollbar {
    width: 0.01em;
}

::-webkit-scrollbar {
    width: 0.01em;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
}


html {
    touch-action: manipulation;
}

* {
    /* Firefox */
    -ms-overflow-style: none;
    /* cursor: none; */
}

.cursor {
    position: absolute;
    z-index: 50;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    /* transition-duration: .2s;
    transition-timing-function: ease-out; */
    pointer-events: none;
    /* animation: cursorAnim 1s infinite alternate; */
}

.Shrink {
    transition-duration: .2s;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s forwards alternate;
}

.Grow {
    transition-duration: .2s;
    transition-timing-function: ease-out;
    animation: cursorAnim1 .5s forwards alternate;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 50;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    opacity: .5;
    left: -3px;
    top: -3px;
    pointer-events: none;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(5);
    }

    to {
        transform: scale(.9);
    }
}

@keyframes cursorAnim1 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(5);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.7);
    }
}


@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(100);
    }

    100% {
        transform: scale(1);
        opacity: 0.1;
    }
}

.expand {
    position: absolute;
    z-index: 50;
    animation: cursorAnim3 1.8s forwards;
    border: 5px solid rgb(255, 255, 255);
    pointer-events: none;

}

#mobile-container {
    display: none;
}

body {
    background-color: #272222;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    touch-action: none;

}

/* Overlay for Prism and opening site */
#overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    z-index: 5;
}

.p1Overlay {
    color: white;
    font-family: paragraph;
    font-size: large;
    opacity: 0;
    animation: revealClick 1.5s 8s ease-in-out forwards;
}

@keyframes revealClick {
    0% {
        opacity: 0;
        transform: translateY(-5vh);

    }

    100% {
        opacity: 100;
        transform: translateY(0vh);
    }
}

#ClickPrismText {
    opacity: 0;
    transform: rotate(360deg);
    animation: light 5s 1s forwards;
}

@keyframes light {
    0% {

        transform: none;
    }

    20% {
        opacity: 1;
        opacity: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.8),
            0 0 10px rgba(255, 255, 255, 0.8),
            0 0 20px rgba(255, 255, 255, 0.8);
    }

    22% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.8),
            0 0 10px rgba(255, 255, 255, 0.8),
            0 0 20px rgba(255, 255, 255, 0.8);
        transform: skewX(5deg) scaleY(1.1);
    }

    24% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.8),
            0 0 10px rgba(255, 255, 255, 0.8),
            0 0 20px rgba(255, 255, 255, 0.8);
        transform: skewX(5deg) scaleY(1.5);
    }

    26% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.8),
            0 0 10px rgba(255, 255, 255, 0.8),
            0 0 20px rgba(255, 255, 255, 0.8);
        transform: skewX(5deg) scaleY(1.5);
    }

    28% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.459),
            0 0 10px rgba(255, 255, 255, 0.8),
            0 0 20px rgba(255, 255, 255, 0.8);
        transform: skewX(5deg) scaleY(1.1);
    }

    30% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.459),
            0 0 10px rgba(255, 255, 255, 0.8),
            0 0 20px rgba(255, 255, 255, 0.8);
        transform: skewX(5deg) scaleY(1.5);
    }

    32%,
    100% {
        opacity: 1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0),
            0 0 10px rgba(255, 255, 255, 0),
            0 0 20px rgba(255, 255, 255, 0);
        transform: none;
    }
}

/* Container with div placement */
#work-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

#work-container::before {
    content: '';
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
}

#left {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: start;
    align-items: end;
    position: absolute;
    left: 1%;
    bottom: 2%;
    filter: drop-shadow(-4px 5px 8px #ffffff46);
    transform: perspective(1000px) rotateX(5deg) rotateY(-15deg) scale(0.6);
    opacity: 0;
    pointer-events: none;

}

#right {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: end;
    align-items: end;
    position: absolute;
    left: 49%;
    bottom: 2%;
    filter: drop-shadow(4px 5px 8px #ffffff46);
    transform: perspective(1000px) rotateX(5deg) rotateY(15deg) scale(0.6);
    opacity: 0;
    pointer-events: none;
}

#left.loadAnimation {
    animation: loadanimation 1.5s 1s ease-in-out forwards;
}

#right.loadAnimation {
    animation: loadanimation 1.5s 1s ease-in-out forwards;
}

@keyframes loadanimation {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 1;
        transform: perspective(1000px) scale(1.03);
        filter: drop-shadow(4px 5px 8px #ffffffa8);

    }

    100% {
        opacity: 1;
        transform: perspective(1000px) rotate(0deg) scale(1);
        pointer-events: all;

    }
}

#my-work-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 96%;
    max-height: fit-content;
    clip-path: polygon(65% 0%, 100% 35%, 100% 100%, 0 100%, 0 0);
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.301), rgba(255, 255, 255, 0.192));
    overflow-x: hidden;
    border-radius: 1%;
    border-bottom: 0.3vw solid rgba(255, 255, 255, 0.664);
    border-left: 0.3vw solid rgba(255, 255, 255, 0.699);
}

#my-work-right {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    width: 95%;
    height: 96%;
    clip-path: polygon(35% 0%, 0% 35%, 0% 100%, 100% 100%, 100% 0);
    border-radius: 1%;
    border-bottom: 0.3vw solid rgba(255, 255, 255, 0.664);
    border-right: 0.3vw solid rgba(255, 255, 255, 0.699);
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.501), rgba(187, 187, 187, 0.068));
    overflow-y: scroll;
    overflow-x: hidden;
}

.image {
    width: 40vw;
    margin: 1%;
    position: relative;
    top: 0%;
    z-index: 2;
    flex-grow: 0;
    filter: drop-shadow(0px 0px 0px transparent);
    transition: flex-grow 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.image:hover {
    flex-grow: 0.8;
    filter: drop-shadow(-4px 5px 8px #ffffff46);
}

.daan {
    width: 30vw;
    align-self: flex-end;
    top: 5%;
}

.daan:hover {
    flex-grow: 0.1;
}

#RedBubble:hover {
    cursor: pointer;
}

.scrollindication {
    animation: scroll 3s infinite ease-in-out;
}

@keyframes scroll {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5vh);
    }

}

.video {
    height: auto;
    width: 50vw;
    display: none;
    position: relative;
    z-index: 1;
}

.textboxes {
    height: 65%;
    width: 100%;
    /* justify-content: start;
    align-items: start; */
    flex-direction: column;
    /* margin-top: 27vh; */
    margin-left: 2vw;
}

.p1 {
    width: 45vw;
    max-width: 600px;
    font-family: Paragraph;
    font-size: large;
    color: #ffffffe0;
    margin: 0;
}

#phome {
    width: fit-content !important;
    font-family: Paragraph;
    font-size: large;
    color: #ffffffe0;
    /* align-self: flex-start; */
}

.header {
    font-family: Header;
    max-width: 600px;
    word-spacing: -0.3em;
    color: #ffffff;
    animation: glitch2 3s 0.2s ease-in-out;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    background: white;
}

.glitchText {
    margin: 0;
    display: inline-block;
}

@keyframes glitch {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.8),
            0 0 10px rgba(255, 255, 255, 0.8),
            0 0 20px rgba(255, 255, 255, 0.8);
        transform: none;
    }

    2% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.8),
            0 0 10px rgba(255, 255, 255, 0.8),
            0 0 20px rgba(255, 255, 255, 0.8);
        transform: skewX(5deg) scaleY(1.1);
    }

    4% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.8),
            0 0 10px rgba(255, 255, 255, 0.8),
            0 0 20px rgba(255, 255, 255, 0.8);
        transform: skewX(-5deg) scaleY(1.2);
    }

    6% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.8),
            0 0 10px rgba(255, 255, 255, 0.8),
            0 0 20px rgba(255, 255, 255, 0.8);
        transform: skewX(0deg) scaleY(1.2);
    }

    8% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.459),
            0 0 10px rgba(255, 255, 255, 0.8),
            0 0 20px rgba(255, 255, 255, 0.8);
        transform: skewX(5deg) scaleY(1.1);
    }

    10%,
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgb(255, 255, 255),
            0 0 10px rgb(255, 255, 255),
            0 0 20px rgba(255, 255, 255, 0.8);
        transform: none;
    }
}

@keyframes pulseShadow {
    0% {
        filter: drop-shadow(2rem 0.5rem 2.5rem rgb(255, 255, 255));
    }

    25% {
        filter: drop-shadow(2rem 1.5rem 2.65rem rgb(102, 102, 102));
    }

    50% {
        filter: drop-shadow(1rem 1.5rem 0.65rem rgb(255, 255, 255));
    }

    75% {
        filter: drop-shadow(-2rem 0.5rem 5.5rem rgb(156, 156, 156));
    }

    100% {
        filter: drop-shadow(2rem 0.5rem 2.5rem rgb(255, 255, 255));
    }
}

.button:hover {
    color: white;
    cursor: pointer;
}

.button.special {
    color: white;
}

#pyramid-container {
    overflow: visible !important;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 2.5%;
    z-index: 8;
    clip-path: polygon(50% 30%, 35% 0%, 65% 0%);
    background: conic-gradient(#47474715, #78787818);
    filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.623));
    pointer-events: none;

}

.pyramid-loader {
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
    overflow: visible !important;
    position: initial;
    z-index: 8;
    animation: dummy 0.01s alternate infinite;

}

.wrapper {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    overflow: visible !important;
    pointer-events: none;
}

.jump {
    animation: Jump 2s infinite ease-in-out;

}

.pyramid-loader .wrapper .side {
    position: absolute;
    width: 50%;
    height: 49%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px 0px 0px 75px;
    transform-origin: center bottom;
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
    background: rgba(255, 255, 255, 0.35);
    animation: pulseShadow 6s ease-in-out infinite;
}

.pyramid-loader .wrapper .side1 {
    transform: rotateZ(30deg) rotateY(90deg);

}

.pyramid-loader .wrapper .side2 {
    transform: rotateZ(-30deg) rotateY(90deg);

}

.pyramid-loader .wrapper .side3 {
    transform: rotateX(-30deg);
    pointer-events: none;
}

.pyramid-loader .wrapper .side4 {
    transform: rotateX(30deg);
    cursor: pointer;
    pointer-events: all;
}

.side4::after {
    content: "";
    position: absolute;
    top: calc(var(--y, 0) * 1px - 75px);
    left: calc(var(--x, 0) * 1px - 75px);
    width: 150px;
    height: 150px;
    background: radial-gradient(white, #3984ff00 75%);
    opacity: 0;
    transition: opacity 1.5s;
}

.side4:hover::after {
    opacity: 1;
}

@keyframes dummy {
    0% {
        top: 5%;
    }

    100% {
        top: 4.99%;
    }
}

.pyramid-loader.clicked {
    animation: spin 1.8s ease-in-out;
}

@keyframes spin {
    0% {
        scale: 1;
    }

    25% {
        scale: 0.9;
    }

    50% {
        scale: 1;
    }

    100% {
        transform: rotateY(90deg) rotateZ(-10deg);
        ;
    }
}

@keyframes Jump {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-3%);
    }

    35% {
        transform: translateY(0);
    }

    55% {
        transform: translateY(-2%);
    }

    70% {
        transform: translateY(0);
    }

}

#button-container {
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 40%;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

#button-container.loadAnimation {
    animation: loadanimation 1s 3s ease-out forwards;
}

.button {
    border: none;
    color: #000000be;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.2rem;
    opacity: 1;
    filter: drop-shadow(0px 0rem 0.1rem #ffffff);
    font-family: Paragraph;
    transition: all 0.1s;
    /* Firefox: */
    width: -moz-fit-content;
    width: fit-content;

}

.sphere {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    filter: blur(5px);
    animation: colorChangeSphere 8s linear infinite;
}

.sphere.visible {
    opacity: 1;
}

#work-container::after {
    content: '';
    display: block;
    position: absolute;
    height: 400vh;
    width: 100vw;
    top: 0%;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.8, 2, 0, 0);
    z-index: 1;
    pointer-events: none;
}


.animation-active::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 75%, #ffffff00 100%);
    animation: drop2 4s .2s;
    opacity: 0.5;
    z-index: 50 !important;
    pointer-events: none;
}

.scroll-progress-bar {
    content: "";
    height: 0.8%;
    background-color: #fefeff;
    width: 0;
    position: absolute;
    bottom: 0.5%;
    left: 0.5%;
    z-index: 2;
    border-radius: 20%;
    pointer-events: none;
}

#scroll-progress-text {
    font-size: xx-large;
    color: white;
    font-family: paragraph;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 0.5%;
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 50%;
    filter: drop-shadow(0px 0rem 0.1rem #ffffff);
}

@keyframes drop2 {
    0% {
        top: -200%;
    }

    100% {
        top: 200%;
    }

}

@keyframes glitch2 {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.8),
            0 0 10px rgba(255, 255, 255, 0.8),
            0 0 20px rgba(255, 255, 255, 0.8);
        transform: none;
    }

    2% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.8),
            0 0 10px rgba(255, 255, 255, 0.8),
            0 0 20px rgba(255, 255, 255, 0.8);
        transform: skewX(5deg) scaleY(1.1);
    }

    4% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.8),
            0 0 10px rgba(255, 255, 255, 0.8),
            0 0 20px rgba(255, 255, 255, 0.8);
        transform: skewX(-5deg) scaleY(1.2);
    }

    6% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.8),
            0 0 10px rgba(255, 255, 255, 0.8),
            0 0 20px rgba(255, 255, 255, 0.8);
        transform: skewX(0deg) scaleY(1.2);
    }

    8% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0.459),
            0 0 10px rgba(255, 255, 255, 0.8),
            0 0 20px rgba(255, 255, 255, 0.8);
        transform: skewX(5deg) scaleY(1.1);
    }

    10%,
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        text-shadow:
            0 0 2px rgba(255, 255, 255, 0),
            0 0 10px rgba(255, 255, 255, 0),
            0 0 20px rgba(255, 255, 255, 0);
        transform: none;
    }
}

@media only screen and (max-width: 2100px) {
    .p1 {
        font-size: 1.2rem;
    }

    .textboxes {
        /* margin-top: 32vh !important; */
        font-size: large;
    }
}

@media only screen and (max-width: 1800px) {
    .wrapper {
        position: absolute;
        top: 5%;
        width: 90%;
        height: 90%;
        transform-style: preserve-3d;
        overflow: visible !important;
        pointer-events: none;
    }

    .pyramid-loader .wrapper .side {
        margin: 0px 0px 0px 82px;

    }

    .button {
        font-size: 0.9rem;
    }

    #phome {
        font-size: small;
    }

    .p1 {
        font-size: 1.1rem;
    }



}

@media only screen and (max-width: 1600px) {
    .textboxes {
        /* margin-top: 25vh; */
        font-size: medium;
    }

    /* .p1 {
        font-size: 1.1rem;
    } */
}

@media only screen and (max-width: 1400px) {

    .p1 {
        font-size: 0.9rem;
    }

    .textboxes {
        /* margin-top: 15vh; */
        font-size: small;
    }

    .button {
        font-size: 0.7rem;
    }

    .wrapper {
        position: absolute;
        top: 5%;
        width: 70%;
        height: 70%;
        transform-style: preserve-3d;
        overflow: visible !important;
        pointer-events: none;
    }

    .pyramid-loader .wrapper .side {
        margin: 0px 0px 0px 97px;

    }
}

/* @media only screen and (max-width: 1200px) {
    .p1 {
        font-size: 0.7rem;
    }
} */

@media only screen and (max-width: 1000px) {
    /* .p1 {
        font-size: 0.4rem;
    } */

    .cursor {
        display: none;
    }


    .textboxes {
        /* margin-top: 15vh; */
        font-size: 0.5rem;
    }

    .button {
        font-size: 0.5rem;
    }

    .wrapper {
        position: absolute;
        top: 5%;
        width: 45%;
        height: 45%;
        transform-style: preserve-3d;
        overflow: visible !important;
        pointer-events: none;
    }

    .pyramid-loader .wrapper .side {
        margin: 0px 0px 0px 116px;

    }
}

/* Mobile: */
@media screen and (max-aspect-ratio: 91/64),
(max-width: 900px) {

    #work-container {
        display: none;
    }

    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #mobile-container {
        position: fixed;
        z-index: 4;
        height: 100vh;
        margin-top: 5%;
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        clip-path: polygon(50% 75px, 65% 0, 100% 0, 100% 100%, 0 100%, 0 0, 35% 0);
        overflow-x: hidden;
        overflow-y: scroll;
    }

    #mobile-container::after {
        content: '';
        display: block;
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0%;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.8, 2, 0, 0);
        z-index: 1;
        pointer-events: none;
    }

    @keyframes drop2 {
        0% {
            top: -100vh;
        }

        100% {
            top: 200vh;
        }

    }

    .scrollIndication {
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 11%;
        width: 5%;
        max-width: 25px;
        height: 8%;
        border-radius: 45%;
        border: 2px solid #ffffff50;
    }

    .scrollSphere {
        position: relative;
        width: 50%;
        height: 20%;
        background-color: white;
        border-radius: 50%;
        animation: scrollIndication 3s infinite ease-in-out;
    }

    @keyframes scrollIndication {
        0% {
            top: 0;
        }

        25% {
            top: 80%;
        }
    }

    #MCworkContent {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 5%;
    }

    .MC {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        flex-direction: row;
        height: fit-content;
        width: 95vw;
        background: linear-gradient(rgba(255, 255, 255, 0.164), rgba(255, 255, 255, 0));
        border-bottom: 5px solid #ffffff6c;
        /* border-radius: 2%; */
    }

    .content {
        margin-bottom: 2.5%;
        border-radius: 3%;
    }

    #MCdaan {
        display: flex;
        min-height: 90% !important;
        width: 95%;
        max-width: 100%;
        overflow: hidden;
    }

    #MChomeHeader {
        font-size: large;
    }


    .daan {
        width: 40vw !important;
        max-width: 300px !important;
        margin-right: 5% !important;
        margin-left: 0% !important;
        margin-bottom: 0 !important;
    }

    .MCtextbox {
        width: 55vw;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        margin-left: 2%;

    }

    .MCtextbox .MCp1 {
        font-size: small;
        font-family: paragraph;
        margin: 0;
        color: white;
        overflow: hidden;
    }

    .MCOthers {
        height: 100%;
        width: auto;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .MCimageother {
        width: 80vw;
        max-width: 500px;
        margin: 5% 10% 0% 10%;
    }

    .MCOthersContent {
        width: 100vw;
        height: 50vh;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .image-slider {
        width: 100%;
        height: fit-content;
        left: 0;
        top: -20%;
        margin-left: 25%;
        display: flex;
        justify-content: start;
        align-items: center;
        transition: .7s;
    }

    .slides-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img {
        width: 25vw;
        height: auto;
        max-width: 240px;
        transition: .5s;
        filter: saturate(10%);
    }

    .MCbutton {
        position: absolute;
        width: 25vw;
        max-width: 240px;
        height: 25%;
        transition: .5s;
        background-color: rgba(0, 0, 0, 0);
    }

    .slider-span {
        position: fixed;
    }

    .otherActive {
        width: 50vw;
        height: auto;
        background-color: transparent;
        filter: saturate(100%);
    }

    #MCOthersInfo {
        height: fit-content;
        min-height: 43vh;
        width: 100vw;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0));
    }

    .sliderButtons {
        display: flex;
        justify-content: space-between;
        width: 50vw;
    }

    .sliderButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10vw;
        height: auto;
        border-radius: 50%;
        border: 2px solid white;
        filter: drop-shadow(0px 0rem 0.1rem #ffffff);
        background-color: rgba(255, 255, 255, 0);
        margin: 5%;
    }

    /* .arrowActive {
        filter: saturate(10%) !important;
    } */

    .sliderButton .MCp1 {
        font-size: large;
    }

    @keyframes move {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(50vw);

        }
    }

    .MCOthers .MCimage {
        width: 40vw;
    }

    .MCBottleStop {
        /* position: relative; */
        width: 80vw;
        height: 30vh;
        max-width: 500px;
        margin: 5% 10% 0% 10%;
    }

    .Header-Button {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        width: 100vw;
        height: auto;
        margin-left: 5%;
    }

    .Header-Button-openDiv {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: row;
        width: 92vw;
        height: auto;
        margin-top: 2%;
        margin-left: 0%;
    }

    .openDiv {
        display: flex;
        justify-content: center;
        width: 20vw;
        height: auto;
        font-family: paragraph;
        border-radius: 10%;
        border: 2px solid white;
        color: #ffffff;
        font-size: 1rem;
        filter: drop-shadow(0px 0rem 0.1rem #ffffff);
        font-family: Paragraph;
        width: -moz-fit-content;
        transition: all 0.3s;

    }

    .closeDiv {
        display: flex;
        justify-content: center;
        width: 10vw;
        max-width: 40px;
        height: auto;
        font-family: paragraph;
        border-radius: 30%;
        border: 2px solid white;
        color: #ffffff;
        font-size: 1.5rem;
        filter: drop-shadow(0px 0rem 0.1rem #ffffff);
        font-family: Paragraph;
        width: -moz-fit-content;
        transition: all 1s;
    }

    .MCClick {
        flex-direction: column !important;
        border-radius: 0;
        width: 100vw;
        /* transition: all 1s; */
    }

    .MCimages {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .MCimage {
        width: 45vw;
        max-width: 500px;
        height: auto;
        border-radius: 1%;
        margin: 5%;
    }

    #MCLast {
        width: 95vw;
        display: flex;
        justify-content: center;
        /* margin-bottom: 10%; */

    }

    /* .Header-Button:nth-last-of-type(5) {
        position: absolute;
        z-index: 2;
    } */

    .MCimageAnimate {
        animation: carousel 5s infinite ease-in-out;
        height: 20vh;
        width: auto;
        /* margin-right: 30vw; */
    }

    @keyframes carousel {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
            transform: translateX(-5%);
        }

        100% {
            opacity: 0;
        }

    }

    .othersBeforeOpening {
        width: 100vw;
        display: flex;
        justify-content: end;
        /* flex-direction: row; */

    }

    .growAnim {
        animation: reveal both linear;
        animation-duration: 1ms;
        animation-timeline: view();
        background-repeat: no-repeat;
        animation-range: entry 50% cover 50%;
    }

    @keyframes reveal {
        from {
            scale: 0.5;
        }

        to {
            scale: 1;

        }
    }

    .ImageGrow {
        width: 80vw;
        transition: all 1s;
    }

    .MCvideo {
        width: 45vw;
        max-width: 500px;
        margin: 2%;
    }

    .video {
        display: flex;
        justify-content: space-between;
        align-items: end;
        flex-direction: column !important;
        height: fit-content !important;
        width: 90vw;
        background: rgba(255, 255, 255, 0);
        transition: all 1s;
    }

    .MCp1 {
        font-size: small;
        font-family: paragraph;
        margin: 4%;
        color: white;
        overflow: hidden;
    }

    .SlideImage {
        width: 10vw;
        height: 2vh;
    }

    .MCp1AEG {
        font-size: small;
        font-family: paragraph;
        margin: 4%;
        color: white;
        overflow: hidden;
    }

    .MCp1GAG {
        font-size: small;
        font-family: paragraph;
        margin: 4%;
        color: white;
        overflow: hidden;
    }

    .MCp1BS {
        font-size: small;
        font-family: paragraph;
        margin: 4%;
        color: white;
        overflow: hidden;
    }

    h1 {
        font-size: large;
    }

    .MCheader {
        font-family: header;
        color: white;
        font-size: small;
    }

    .BS {
        margin: 4%;
    }

    .MCothersText {
        height: fit-content;
        width: 100vw;
    }

    .MCothersText .MCheader {
        animation: glitch2 4s ease-in-out;
    }

    #MCheaderQuote {
        font-family: header;
        color: white;
        font-size: small;
        margin: 10%;
    }

    .glitchTextMC {
        margin: 0;
        display: inline-block;

    }

    .p1Overlay {
        color: white;
        font-family: paragraph;
        font-size: small;
        opacity: 0;
        animation: revealClick 1.5s 8s ease-in-out forwards;
    }


    @keyframes glitch {
        0% {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            text-shadow:
                0 0 2px rgba(255, 255, 255, 0.8),
                0 0 10px rgba(255, 255, 255, 0.8),
                0 0 20px rgba(255, 255, 255, 0.8);
            transform: none;
        }

        2% {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            text-shadow:
                0 0 2px rgba(255, 255, 255, 0.8),
                0 0 10px rgba(255, 255, 255, 0.8),
                0 0 20px rgba(255, 255, 255, 0.8);
            transform: skewX(5deg) scaleY(1.1);
        }

        4% {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            text-shadow:
                0 0 2px rgba(255, 255, 255, 0.8),
                0 0 10px rgba(255, 255, 255, 0.8),
                0 0 20px rgba(255, 255, 255, 0.8);
            transform: skewX(-5deg) scaleY(1.2);
        }

        6% {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            text-shadow:
                0 0 2px rgba(255, 255, 255, 0.8),
                0 0 10px rgba(255, 255, 255, 0.8),
                0 0 20px rgba(255, 255, 255, 0.8);
            transform: skewX(0deg) scaleY(1.2);
        }

        8% {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            text-shadow:
                0 0 2px rgba(255, 255, 255, 0.459),
                0 0 10px rgba(255, 255, 255, 0.8),
                0 0 20px rgba(255, 255, 255, 0.8);
            transform: skewX(5deg) scaleY(1.1);
        }

        10%,
        100% {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            text-shadow:
                0 0 2px rgb(255, 255, 255),
                0 0 10px rgb(255, 255, 255),
                0 0 20px rgba(255, 255, 255, 0.8);
            transform: none;
        }
    }

    #button-container {
        height: 50vh;
        width: 100vw;
        display: none;
        justify-content: space-evenly;
        align-items: end;
        flex-direction: column;
        position: absolute;
        top: 0%;
        z-index: 1;

    }

    .button {
        border: none;
        color: #000000be;
        background-color: rgba(0, 0, 0, 0);
        font-size: 1.2rem;
        opacity: 1;
        filter: drop-shadow(0px 0rem 0.1rem #ffffff);
        font-family: Paragraph;
        transition: all 0.1s;
        width: -moz-fit-content;
        width: fit-content;
    }

    #pyramid-container {
        overflow: visible !important;
        display: flex;
        justify-content: center;
        align-items: start;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        z-index: 8;
        clip-path: none;
        background: rgba(0, 0, 0, 0);
        pointer-events: none;

    }

    .pyramid-loader {
        display: flex;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
        width: 300px;
        height: 300px;
        transform-style: preserve-3d;
        transform: rotateX(-10deg);
        overflow: visible !important;
        position: initial;
        z-index: 8;
        animation: dummy 0.01s alternate infinite;

    }

    .wrapper {
        position: absolute;
        top: 5%;
        width: 30%;
        height: 30%;
        transform-style: preserve-3d;
        overflow: visible !important;
        pointer-events: none;
    }

    .pyramid-loader .wrapper .side {
        margin: 0px 0px 0px 22px;

    }

    .pyramid-loader.clicked {
        animation: spin2 1.8s ease-in-out;
    }


    @keyframes spin2 {
        100% {
            transform: rotateY(90deg) rotateZ(-8deg);
            ;
        }
    }

    @keyframes changeDirection {
        0% {
            flex-grow: 0;
            flex-direction: row;
        }

        100% {
            flex-grow: 1;
            flex-direction: column;
        }
    }
}